name: GoruGoru-Server CI/CD

on:
  push:
    branches: [ "develop" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew clean build -x test

      - name: Docker Hub Login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/ondongnae-server:latest

      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker stop $(docker ps -a -q --filter name=${{ github.event.repository.name }}) || true
            docker rm $(docker ps -a -q --filter name=${{ github.event.repository.name }}) || true
            docker pull ${{ secrets.DOCKER_USERNAME }}/ondongnae-server:latest
            docker run -d \
              -p 8080:8080 \
              --name ${{ github.event.repository.name }} \
              -e spring.datasource.url=${{ secrets.DATABASE_URL }} \
              -e spring.datasource.username=${{ secrets.DATABASE_USERNAME }} \
              -e spring.datasource.password=${{ secrets.DATABASE_PASSWORD }} \
              -e jwt.secret=${{ secrets.JWT_SECRET }} \
              -e cloud.aws.s3.bucket=${{ secrets.AWS_BUCKET }} \
              -e cloud.aws.region.static=${{ secrets.AWS_REGION }} \
              -e openai.api.key=${{ secrets.OPENAI_API_KEY }} \
              -e clova.ocr.invoke-url=${{ secrets.CLOVA_OCR_INVOKE_URL }} \
              -e clova.ocr.secret-key=${{ secrets.CLOVA_OCR_SECRET }} \
              -e DESC_API_URL=${{ secrets.DESC_API_URL }} \
              -e TRANSLATE_API_URL=${{ secrets.TRANSLATE_API_URL }} \
              -e GOOGLE_MAP_API_KEY=${{ secrets.GOOGLE_MAP_API_KEY }} \
              -e ADD_STORE_API_URL=${{ secrets.ADD_STORE_API_URL }} \
              -e COURSE_RECOMMENDATION_API_URL=${{ secrets.COURSE_RECOMMENDATION_API_URL }} \
              -e CURRENCY_API_KEY=${{ secrets.CURRENCY_API_KEY }} \
              ${{ secrets.DOCKER_USERNAME }}/ondongnae-server:latest